$primary: #cc5945;
$secondary: #26a69a;
$accent: #f2cc8f;

$dark: #3d405b;
$light: #eeedec;

$positive: #81b29a;

$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$light: #f4f1de;

$background: #eeedec;
